<main>
  <section class="container pb-7 pb-md-9">
    <div class="py-7 py-lg-9 mt-lg-9">
      <h2 class="title-deco mb-3 mb-lg-4 text-center text-primary-700 tracking-wide fw-semibold"><%= page.title %></h2>
      <p class="mb-0 text-center text-primary-500"><%= page.subtitle %></p>
    </div>
    <div class="row flex-row-reverse mb-lg-9">
      <div class="col-12 col-lg-3">
        <%- partial('_partial/sidebar') %>
      </div>

      <%- list_blog_posts() %>
    </div>

    <nav class="mb-7 mb-md-9" aria-label="Page navigation">
      <ul class="pagination justify-content-center gap-3">
        <%- pagination({
          escape: false,
          current: 1,
          total: 3
        }) %>
      </ul>
    </nav>
  </section>
    
</main>
