<main>
  <section class="container pb-7 pb-md-9">
    <div class="py-7 py-lg-9 mt-lg-9">
      <h2 class="title-deco mb-3 mb-lg-4 text-center text-primary-700 tracking-wide fw-semibold">部落格</h2>
      <p class="mb-0 text-center text-primary-500">不定期分享技術文章</p>
    </div>
    <div class="row flex-row-reverse mb-lg-9">
      <div class="col-12 col-lg-3">
        <aside class="blog__menu px-3 py-4 p-lg-7 bg-primary-100">
          <ul class="d-flex flex-lg-column justify-content-md-center justify-content-lg-start gap-6 mb-0 p-xxl-7 list-unstyled">
            <li class="flex-shrink-0">
              <button class="blog__menu--active px-0 pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent" type="button">全部文章</button>
            </li>
            <li class="flex-shrink-0">
              <button class="px-0 pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent border-0" type="button">UI/UX 新知</button>
            </li>
            <li class="flex-shrink-0">
              <button class="px-0 pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent border-0" type="button">數位產品設計</button>
            </li>
            <li class="flex-shrink-0">
              <button class="px-0 pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent border-0" type="button">平面設計</button>
            </li>
            <li class="flex-shrink-0">
              <button class="px-0 pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent border-0" type="button">前端開發</button>
            </li>
          </ul>
        </aside>
      </div>
      <ul class="d-flex flex-column row-gap-7 row-gap-lg-9 gx-9 gx-lg-4 col-12 col-lg-9 mt-9 mt-lg-0 mb-0 pt-9 pt-lg-0">
        <% for (const postKey in site.data.posts) { %>
          <% const post = site.data.posts[postKey]; %>
            <li class="card border-0">
              <div class="row g-0">
                <div class="col-12 col-lg-4">
                  <img
                    src="/images/article-image<%= post.id %>.png"
                    class="img-fluid w-100 h-100 object-fit-cover rounded-3"
                    alt="article-<%= post.id %>"
                  >
                </div>
                <div class="col-12 col-lg-8">
                  <div class="card-body pt-lg-0 pe-lg-0">
                    <div class="d-flex justify-content-between justify-content-lg-start align-items-center gap-3 mb-3">
                      <p class="card-text mb-0 fs-6 text-primary-600">
                        <small class="text-body-secondary">
                          <%= post.date %>
                        </small>
                      </p>
                      <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">
                        <%= post.tag %>
                      </span>
                    </div>
                    <h5 class="card-title mb-3 text-primary-700">
                      <%= post.title %>
                    </h5>
                    <p class="cutoff-text mb-0 text-primary-700">
                      <%= post.content %>
                    </p>
                    <a class="stretched-link" href="/post"></a>
                  </div>
                </div>
              </div>
            </li>
        <% } %>
      </ul>
    </div>
  </section>
</main>