<% const imgRegex = /<img[^>]*>/g; %>
<% const content = post.content.replace(imgRegex, ''); %>   <!-- prevent image appear -->
<% const title = post.title || post.slug; %>
<% const date = new Date(post.date).toLocaleDateString('zh-tw'); %>
<li
  id="<%= post.layout %>-<%= post.slug %>"
  class="card border-0"
  itemprop="blogPost"
  itemscope
  itemtype="https://schema.org/BlogPosting"
>
  <article class="row g-0">
    <div class="col-12 col-lg-4">
      <img
        src="<%= post.cover %>"
        class="img-fluid w-100 h-100 object-fit-cover rounded-3"
        alt="article-<%= title %>"
      >
    </div>
    <div class="col-12 col-lg-8">
      <div class="card-body pt-lg-0 pe-lg-0">
        <div class="d-flex justify-content-between justify-content-lg-start align-items-center gap-3 mb-3">
          <p class="card-text mb-0 fs-6 text-primary-600">
            <small class="text-body-secondary">
              <%= date %>
            </small>
          </p>

          <% post.tags.each((tag) => { %>
            <span class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4">
              <%- tag.name %>
            </span>
          <% }) %>

        </div>
        <h5 class="card-title mb-3 text-primary-700">
          <%- title %>
        </h5>
        <div class="cutoff-text mb-0 text-primary-700">
          <%- content %>
        </p>
        <a class="stretched-link" href="<%- url_for(post.path) %>"></a>
      </div>
    </div>
  </article>
</li>
