<aside class="blog__menu px-3 py-4 p-lg-7 bg-primary-100">
  <ul class="d-flex flex-lg-column justify-content-md-center justify-content-lg-start gap-7 mb-0 p-xxl-7 list-unstyled">
    <li class="flex-shrink-0">
      <% const isActive = (page.path === 'blog/index.html') ? 'blog__menu--active' : ''; %>
      <a href="<%- url_for('/blog') %>" class="<%- isActive %> pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent text-decoration-none" type="button">全部文章</a>
    </li>
    <% site.tags.forEach((tag) => { %>
      <% const isActiveTag = (page.path === tag.path + 'index.html') ? 'blog__menu--active' : ''; %>
      <li class="flex-shrink-0">
        <a href="<%- url_for(tag.path) %>" class="<%- isActiveTag %> pb-1 fs-5 text-primary-600 link-primary-500 bg-transparent text-decoration-none">
          <%- tag.name %>
        </a>
      </li>
    <% }) %>
  </ul>
</aside>